.animalsForm-container{
    max-width:600px;
    margin: 60px;
}

.animalForm{
    display: flex;
    flex-direction: column;
    padding: 25px ;
    background-color: #e7e7e6;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.animalForm_item{
    margin: 15px;
    max-width:450px
}

.checkbox-and-button{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}