.form-floating{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 900px;
}

.login-input{
text-decoration: none;
margin: 10px;
border: 2px solid #fff;
background-color: transparent;
padding: 6px 20px;
border-radius: 30px;
letter-spacing: 1px;
font-size: larger;
}
.login-input::placeholder{
    color: white;
    text-align: center;
}
.login-input:focus{
background-color: #a0581a;
color: white;
}

select {
    margin: 4px;
}

.login-button{
text-decoration: none;
margin: 30px 10px;
border: 2px solid #fff;
color: #88501e; 
background-color: #fff;
padding: 6px 20px;
border-radius: 30px;
letter-spacing: 1px;
font-size: larger;
}