.autentification{
    background-image: url("https://imgur.com/sZMsTkk.jpg");
    height: 100vh;
    text-align: center;
    top: 48vh;
}

.login,
.register{
    text-decoration: none;
    margin: 30px 10px;
    border: 2px solid #fff;
    color: white; 
    background-color:transparent;
    padding: 6px 20px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-size: larger;
}