.home-container{
    background-image: url("https://imgur.com/sZMsTkk.jpg");
    min-height: 100vh;
    text-align: center;
    top: 48vh;
}
.home-login-button{
    float: right;
    cursor: pointer;
    color: #fff;
    border: 2px solid white;
    padding: 7px;
    border-radius:20px;
    margin: 20px;
  }
  
.home_title{
    color: white;
    padding:70px 30px 0 30px;
    font-size: 60px;
}

.content-container{
    max-width: 500px;
    margin: 40px auto 0 auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.content_list-container{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content_list_item{
    padding: 20px;

}

.go-to{
    color: white;
    font-size:x-large;
}

.go-to:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
.home_paragraph{
    color: white;
}


@media (max-width: 600px) {
    .content_list-container{
      flex-direction: column;
    }
}