.nav-menu {
  background-color: #8dc63f;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left:-100vw;
  transition: 850ms;
  z-index:1;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-button{
  position: fixed;
  z-index: 2;
  text-decoration: none;
  cursor: pointer;
  padding:20px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.list-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list_item{
  color:#121203;
  font-size:50px;
  font-weight: 100px;
}

span {
  margin-left: 16px;
}
