.find-animal-container{
    display:flex;
    flex-direction:column;
}
.find-animal_intput-button{
    display:flex;
    flex-direction: row;
    max-width:400px;
} 
.form-control,
.btn-success{
    margin: 15px;
}

.found_card{
    border-radius:20px;
    margin: 20px;
    padding:10px;
    min-width:200px;
    text-align: center;
}