.find-animal-container{
    display:flex;
    flex-direction:column;
}
.find-animal_intput-button{
    display:flex;
    flex-direction: row;
    max-width:400px;
} 
.form-control,
.btn-success{
    margin: 15px;
}