.form-floating{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-image: url("https://imgur.com/sZMsTkk.jpg");
height: 100vh;
}
.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 900px;
}

.form-control{
text-decoration: none;
margin: 10px;
border: 2px solid #fff;
background-color: transparent;
padding: 6px 20px;
border-radius: 30px;
letter-spacing: 1px;
font-size: larger;
}
.form-control::placeholder{
    color: white;
    text-align: center;
}
/* .form-control:focus{
    background-color: #a0581a;
    color: white;
} */

select {
    margin: 4px;
}

.register-button{
text-decoration: none;
margin: 30px 10px;
border: 2px solid #fff;
color: #88501e;
background-color: #fff;
padding: 6px 20px;
border-radius: 30px;
letter-spacing: 1px;
font-size: larger;
}